input {
    width: 25px;
    height: 25px;
}
#reset_image {
    margin-left: 30px;
    width: 120px;
}
#size_button {
    margin-left: 20px;
    width: auto;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
#Red {
    background-color: red;
}
#Green {
    background-color: green;
}
#Blue {
    background-color: blue;
}
#Black {
    background-color: black;
}
canvas {
    border-width: 1px;
    border: solid;
}
